<!DOCTYPE>
<html>
<head>
	<title>Quills Library</title>
	  
    <link href="../static/book_table_stylesheet.css" rel="stylesheet">
</head>
<body>
	{% extends "index.html" %}
    {% block content %}
    
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for books or authors.." title="Type in a name" style="width: 30%; margin-bottom: 1%;">

        <div style="height: 70%; overflow-y: scroll;">
        {% for table in tables %}
                    {{ table|safe }}
        {% endfor %}
        </div>

        <script>


function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  console.log(input);
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    td1 = tr[i].getElementsByTagName("td")[1];
    if (td || td1) {
      txtValue = td.textContent || td.innerText;
      txtValue1 = td1.textContent || td1.innerText;
      if ((txtValue.toUpperCase().indexOf(filter) > -1) || (txtValue1.toUpperCase().indexOf(filter)>-1)) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../static/js/popper.min.js"></script>
    

	{% endblock %}
	<!-- </div> -->
</body>
</html>


