<!DOCTYPE>
<html>
<head>
	<title>Quills Library</title>
</head>
<body>
	{% extends "index.html" %}
    {% block content %}
    <div style=" background-color: #00000077; padding: 2%;">
    <div style="text-align: justify; width: 50%; float: left;">
	<h3>Contact</h3>
	<h4>email: quillslibrary@gmail.com</h4>
	<br>
	<h4>Address: No. 13, 3rd Cross, </h4>
	<h4>Nehrunagar (Seshadripuram), </h4>
	<h4>Bangalore - 560020 </h4>
	</div>
<!-- <br> -->
<!-- <div style="width: 50%; float: right;"> -->
	<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=77.57446557283403%2C12.985988728893627%2C77.57782638072969%2C12.988330513888103&amp;layer=mapnik" style="border: 1px solid black"></iframe>
	<!-- <br/> -->
	<!-- <small><a href="https://www.openstreetmap.org/#map=19/12.98716/77.57615&amp;layers=N">View Larger Map</a></small> -->
	</div>
	{% endblock %}
	
</body>
</html>