<!DOCTYPE>
<html>
<head>
	<title>Quills Library</title>
 <link href="../static/bootstrap.min.css" rel="stylesheet">
</head>
<body >
	{% extends "index.html" %}
 {% block content %}
 <div style="text-align: center;">
	<h3>Past Events:</h3>
	<div class="row">
		<div class="col-md-4"> <img src="../static/images/chess_contest.jpg" width="80%">
		<h5>Chess contest</h5></div>
		<div class="col-md-4"> <img src="../static/images/entrepreneurship_talk.jpg" width="80%">
		<h5>Entrepreneurship session</h5></div>
		<div class="col-md-4"> <img src="../static/images/movie_screening.jpg" width="80%">
		<h5>Movie screening</h5></div>
		<div class="col-md-4"> <img src="../static/images/poetry_slam.jpg" width="80%">
		<h5>Poetry Slam</h5></div>
		<div class="col-md-4"> <img src="../static/images/transgender_talk.jpg" width="80%">
		<h5>Transgender talk</h5></div>
	</div>		
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	{% endblock %}
</div>
</body>
</html>